extends layout

block content

  h1 Platform: #{platform.name}
  p #[strong Stock:] #{platform.stock}
  p #[strong Price:] #{platform.price}

  div(style='margin-left:20px;margin-top:20px')

    h4 Games

    dl
      each game in platform_games
        dt
          a(href=game.url) #{game.name}
        dd #{game.description}

      else
        p This platform has no games
      p
        a(href=platform.url+'/delete') Delete platform
      p
        a(href=platform.url+'/update') Update platform